.user-permissions-none {
  font-size: 14px;
}

.user-permission-name {
  font-size: 12px;
  display: inline-block;
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 2px;
}
